
h1 { text-align: center; border-style: ridge;
border-color: rgb(197, 143, 5); border-radius: 15px;
color: rebeccapurple;
}

#developer-showing {
display: none;

}

.click { 
  color: blue;
cursor: progress;
}

body { background-image: url("https://previews.123rf.com/images/srckomkrit/srckomkrit1404/srckomkrit140400257/27699789-gray-white-background-color-off-white-pale-paper-elegant-sophisticated-background-wallpaper-design-f.jpg");
font-family: 'Times New Roman', Times, serif;
}

.page-javascript {
display: none;
}

.page-swift {
display: none;
}
.page-ruby {
display: none;
}
.page-java {
display: none;
}