h1 {
  text-align: center;
  border-style: ridge;
  border-color: rgb(245, 220, 157);
  border-radius: 15px;
  color: rgb(20, 6, 34);
}

#developer-showing {
  display: none;
}

h2 {
  text-align: center;
}
.click {
  color: blue;
  cursor: progress;
}

body {
  background-image: url("https://wallpapercave.com/wp/wp2835925.png");
  font-family: "Times New Roman", Times, serif;
}

.page-javascript {
  display: none;
}

.page-swift {
  display: none;
}
.page-ruby {
  display: none;
}
.page-java {
  display: none;
}
.ruby-picture {
  border-style: solid;
  float: right;
}
.swift-picture {
  border-style: solid;
  float: right;
}
.javascript-picture {
  border-style: solid;
  float: right;
}
.java-picture {
  border-style: solid;
  float: right;
}

.btn {
  background-color: rgb(245, 230, 17); border-radius: 20px;
}

